<div class="container main">
    <div class="row main-content">
        <!-- rightlane -->
        <div class="col-sm-12 col-md-2 col-md-push-10">
            <%- include('login') %>
            <div class="row filters">
                <h3>Szűrők</h3>
                <ul class="list-unstyled">
                    <div>
                        <li>
                            <input type="checkbox" name="lendable" id="len" />
                            <label for="len">Kölcsönbe vehető</label>
                        </li>
                        <li>
                            <input type="checkbox" name="mycity" id="myc" />
                            <label for="myc">Városomban</label>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <!-- /rightlane -->
        <!-- middlelane -->
        <div class="col-sm-12 col-md-10 col-md-pull-2">
            <!-- searchbar -->
            <div class="row">
                <form>
                    <div class="col-sm-10">
                        <input type="text" placeholder="keresés.." class="form-control" autofocus />
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-danger">Keresés</button>
                    </div>
                </form>
            </div>
            <!-- /searchbar -->
            <!-- books -->
            <% for(var i=0; i<books.length; i++) {%>
                <% if (i % 3 === 0) {%>
                    <div class="row">
                <% } %>
                <div class="col-xs-12 col-md-4">
                    <a href="/book/<%= books[i].id %>">
                        <div class="book">
                            <img src="<%= books[i].image %>"></img>
                        </div>
                    </a>
                </div>
                <% if (i % 3 === 0) {%>
                    </div>
                <% } %>
            <% } %>
            <!-- /books -->
        </div>
        <!-- /middlelane-->
    </div>
</div>
<!-- end: content -->
