<%- include('header') %>
<header class="jumbotron row-header">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 title">
                <h1>Közös könyvtár</h1>
                <p style="padding:40px;"></p>
                <p>Ahol a <b>kölcsönző</b> és a <b>könyvtáros</b> is te vagy.</p>
            </div>
            <div class="col-xs-12 col-sm-4">
            </div>
        </div>
    </div>
</header>
<%- include('book_list') %>
<%- include('footer') %>