<div class="row">
    <div class="login">
        <h3>Belépés</h3>
        <form method="post">
            <input type="text" placeholder="felhasználó" class="form-control" />
            <input type="password" placeholder="jelszó" class="form-control" />
            <button type="submit" class="btn btn-danger"/>Bejelentkezés</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="registration">
        <a href="registration.html">Regisztráció</a>
    </div>
</div>