<div class="row">
    <div class="login">
        <h3>Belépés</h3>
        <form method="post" action="login">
            <input type="text" placeholder="felhasználó" name="id" class="form-control" />
            <input type="password" placeholder="jelszó" name="password" class="form-control" />
            <button type="submit" class="btn btn-danger"/>Bejelentkezés</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="registration">
        <a href="/registration">Regisztráció</a>
    </div>
</div>