<div class="row">
    <div class="profile">
        <img class="img-responsive img-circle" id="profile-picture" src="<%= user.image %>">
        <h2><%= user.name %></h2>
        <a href="/logout"><button class="btn btn-danger">Kijelentkezés</button></a>
    </div>
</div>