@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

.main-content {
    margin:0 auto;
    padding: 50px 0 50px 0;
    min-height:400px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0 auto;

    background: url(../img/bg-books.jpg) repeat-x 0 0;

    animation: animatedBackground 40s linear infinite;
}

.title {
    background: #7f0505;
    color:floralwhite;
}

.input-text{
    width: 100%;
}

.book{
    border: 1px solid;
}

.login{
    border: 1px solid;
    text-align: center;
    padding: 20px 0 20px 0;
}

.registration{
    text-align: center;
    padding: 20px 0 20px 0;
}

.filters{
    border: 1px solid;
    text-align: center;
    padding: 20px 0 20px 0;
}

.comment-section{
    border: 1px solid;
}